DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

MYSQL_DATABASE=rishine_db
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
