h1 {
  font-family: sans-serif;
}

h4 {
  font-family: sans-serif;
}

#event-img {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#event-img img {
  width: 50%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.btn-accion {
  padding: 10px 24px;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid #887694;
  background: #887694;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 10px;
}

.btn-accion:hover {
  opacity: 0.85;
}