{% extends "base.html" %}
{% load static %}

{% block title %}{% if evento %}{{ evento.titulo }}{% else %}Ver evento{% endif %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'estilos_visualizar_evento.css' %}">
{% endblock %}

{% block contenido %}
<main>
    {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
  <div id="event-img">
    {% if evento and evento.imagen %}
    <img src="{{ evento.imagen.url }}" alt="{{ evento.titulo }}" style="max-width: 100%; border-radius: 10px;">
    {% endif %}
  </div>
  <div>
    <h1>{% if evento %}{{ evento.titulo }}{% else %}[Titulo evento]{% endif %}</h1>
    <h4>Ubicacion:</h4>
    <p>{% if evento %}{{ evento.direccion }}{% else %}[Calle][No. ext.][No. int.][Colonia][Municipio][Estado]{% endif %}</p>
    <hr>
    <br>
    <h4>Referencias de ubicacion:</h4>
    <p>{% if evento %}{{ evento.referencias }}{% else %}[Referencias de ubicacion]{% endif %}</p>
    <hr>
    <br>
    <h4>Costo:</h4>
    <p>{% if evento %}$ {{ evento.costo }}{% else %}[Costo]{% endif %}</p>
    <hr>
    <br>
    <h4>Cupo disponible:</h4>
    <p>{% if evento %}{{ evento.cupo }}{% else %}[Cupo disponible]{% endif %}</p>
    <hr>
    <br>
      <h4>Fecha:</h4>
    <p>{% if evento %}
            {{ evento.fecha_inicio }} - {{ evento.fecha_fin}}
        {% else %}
            [Fecha evento]
        {% endif %}
    </p>
      <hr>
    <br>
    <h4>Dias:</h4>
    {% if horarios %}
      <ul>
        {% for horario in horarios %}
          <li>{{ horario.dia }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% if evento %}Sin horarios registrados{% else %}[Dias]{% endif %}</p>
    {% endif %}
    <hr>
    <br>
    <h4>Categoria:</h4>
    <p>{% if evento %}{{ evento.categoria.nombre_categoria }}{% else %}[Nombre categoria]{% endif %}</p>
    <hr>
    <br>
      <h4>Organización:</h4>
    <ul>
      <li>{%if evento %}{{ evento.promotor.organizacion }}{% else %}[Organizador]{% endif %}</li>
    </ul>
      <hr>
    <br>
    <h4>Descripcion:</h4>
    <p>
      {% if evento %}{{ evento.descripcion }}{% else %}
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum nihil
      corrupti, illum iste nemo nam libero ex accusamus quam est corporis
      ullam harum illo! Laborum, vero! Omnis accusantium nemo aspernatur!
      {% endif %}
    </p>
      <hr>
      <div style="display: flex; gap: 10px;">
          <form method="post">
              {% csrf_token %}
              <input type="hidden" name="accion" value="guardar">
              <button type="submit" class="btn-accion">Guardar</button>
          </form>
          <form method="post">
              {% csrf_token %}
              <input type="hidden" name="accion" value="favorito">
              <button type="submit" class="btn-accion">Me gusta</button>
          </form>
          <div>
  </div>
</main>
{% endblock %}