{% extends "base.html" %}
{% load static %}

{% block title %}Formulario Crear Evento | RiShine{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'crear_evento/estilo.css' %}">
{% endblock %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}");</script>
        {% endfor %}
    {% endif %}

    <h1>Crear evento</h1>
    <main>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Información básica</h2>
        <br>
        <p>Imagen del evento:</p>
        <input type="file" name="imagen">

        <p>Nombre del evento*:</p>
        <input type="text" name="titulo" required>

        <p>Categoría*:</p>
        <select name="categoria" class="input-campo" required>
          {% for cat in categorias %}
            <option value="{{ cat.id_categoria }}">{{ cat.nombre_categoria }}</option>
          {% endfor %}
        </select>

        <p>Descripción*:</p>
        <textarea name="descripcion" class="input-campo" placeholder="Ingrese una breve descripción" required></textarea>

        <p>Cupo*:</p>
        <input type="number" name="cupo" min="0" required>

        <p>Costo*:</p>
        <input type="number" name="costo" min="0" required>

        <h2>Información de la dirección</h2>
        <br>
        <p>Dirección*:</p>
        <input type="text" name="direccion" class="input-campo" placeholder="Ej: Av. Vallarta 1234, Col. Americana, Guadalajara" required>

        <p>Referencias:</p>
        <textarea name="referencias" class="input-campo" placeholder="Ej: Frente al parque, edificio azul"></textarea>

        <h2>Información de fechas</h2>
        <br>
        <p>Fecha de inicio*:</p>
        <input type="date" name="fecha_inicio" required>

        <p>Fecha de fin*:</p>
        <input type="date" name="fecha_fin" required>

          <h2>Dias del evento</h2>
          <br>
          {% for horario in horarios %}
          <div>
              <input type="checkbox" id="horario_{{ horario.id_horario }}"
                name="horarios" value="{{ horario.id_horario }}">
              <label for="horario_{{ horario.id_horario }}">{{ horario.dia }}</label>
          </div>
          {% endfor %}
        <br><br>
        <button type="submit" name="accion" value="publicado">Publicar evento</button>
          <button type="submit" name="accion" value="borrador">Guardar borrador</button>
        <a href="{% url 'inicio:index' %}">Cancelar</a>
      </form>
    </main>
    <footer>
      <p><small>*: Información obligatoria</small></p>
    </footer>
{% endblock %}