{% extends "base.html" %}
{% load static %}

{% block title %}Formulario Crear Evento | RiShine{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'crear_evento/estilo.css' %}">
{% endblock %}

{% block contenido %}
    <h1>Crear evento</h1>
    <main>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Información básica</h2>
        <br>
        <p>Imagen del evento:</p>
        <input type="file" name="imagen">
        <p>Nombre del evento*:</p>
        <input type="text" name="titulo" required>
        <p>Organizador(es)*:</p>
        <input type="text" name="organizador" placeholder="Nombre del organizador" required>
        <button type="button">Añadir organizador</button>
        <p>Categoría*:</p>
        <select name="categoria">
          <option>Educación</option>
          <option>Robotica</option>
          <option>Juegos</option>
          <option>Historia</option>
        </select>
        <p>Descripción:</p>
        <input id="descripcion" name="descripcion" type="text" placeholder="Ingrese una breve descripción">

        <h2>Información de la dirección</h2>
        <br>
        <p>Calle*:</p>
        <input type="text" name="calle" required>
        <p>No. interior*:</p>
        <input type="text" name="numero_interior" required>
        <p>No. exterior:</p>
        <input type="text" name="numero_exterior">
        <p>Colonia*:</p>
        <input type="text" name="colonia" required>
        <p>Municipio*:</p>
        <input type="text" name="municipio" required>
        <p>Estado*:</p>
        <input type="text" name="estado" required>
        <p>Nombre del inmueble:</p>
        <input type="text" name="nombre_inmueble">
        <h2>Información de horario</h2>
        <br>
        <p>Hora de inicio*:</p>
        <input type="text" name="hora_inicio" required>
        <p>Hora de final*:</p>
        <input type="text" name="hora_fin" required>
        <p>Fecha*:</p>
        <input type="date" name="fecha" required>
        <button type="button">Añadir fecha</button>
        <br>
        <button type="button">Cancelar</button>
        <button type="submit" name="accion" value="borrador">Guardar borrador</button>
        <button type="submit" name="accion" value="publicado">Publicar evento</button>
      </form>
    </main>
    <footer>
      <p><small>*: Información obligatoria</small></p>
    </footer>
{% endblock %}
